<section class="app-sidenav">
  <div class="app-sidenav-header">
    <img class="app-sidenav-logo-img" src="assets/images/logo-img.svg" alt="">
    <img class="app-sidenav-logo-txt" src="assets/images/logo-txt.png" alt="">
  </div>
  <!-- /.app-sidenav-header -->
  <div class="app-sidenav-body">
    <ul class="app-sidenav-menu">
      <li class="app-sidenav-menu-item">
        <a href="#">
          <i class="far fa-star"></i>
          <span>Admin</span>
          <b>6</b>
          <i class="fas fa-chevron-down"></i>
        </a>
        <ul class="app-sidenav-sub-menu">
          <li class="app-sidenav-sub-menu-item">
            <a href="#">
              <i class="far fa-star"></i>
              <span>Manage Services</span>
            </a>
          </li>
          <li class="app-sidenav-sub-menu-item">
            <a href="#">
              <i class="far fa-star"></i>
              <span>Payments</span>
              <b>2</b>
            </a>
          </li>
          <li class="app-sidenav-sub-menu-item">
            <a href="#">
              <i class="far fa-star"></i>
              <span>Manage Admin</span>
            </a>
          </li>
          <li class="app-sidenav-sub-menu-item">
            <a href="#">
              <i class="far fa-star"></i>
              <span>Roles </span>
            </a>
          </li>
          <li class="app-sidenav-sub-menu-item">
            <a href="#">
              <i class="far fa-star"></i>
              <span>Location Set Up</span>
              <b>2</b>
            </a>
          </li>
          <li class="app-sidenav-sub-menu-item">
            <a href="#">
              <i class="far fa-star"></i>
              <span>CCTV</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="app-sidenav-menu-item">
        <a href="#">
          <i class="far fa-star"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="app-sidenav-menu-item">
        <a href="#">
          <i class="far fa-star"></i>
          <span>Manage Users </span>
        </a>
      </li>
      <li class="app-sidenav-menu-item">
        <a href="#">
          <i class="far fa-star"></i>
          <span>Subscribers</span>
          <b>6</b>
          <i class="fas fa-chevron-down"></i>
        </a>
      </li>
      <li class="app-sidenav-menu-item">
        <a href="#">
          <i class="far fa-star"></i>
          <span>Groups</span>
          <b>6</b>
          <i class="fas fa-chevron-down"></i>
        </a>
      </li>
      <li class="app-sidenav-menu-item">
        <a href="#">
          <i class="far fa-star"></i>
          <span>Responders</span>
          <b>6</b>
          <i class="fas fa-chevron-down"></i>
        </a>
        <ul class="app-sidenav-sub-menu">
          <li class="app-sidenav-sub-menu-item">
            <a href="#">
              <i class="far fa-star"></i>
              <span>View</span>
              <b>6</b>
            </a>
          </li>
          <li class="app-sidenav-sub-menu-item">
            <a href="#">
              <i class="far fa-star"></i>
              <span>New   </span>
              <b>2</b>
            </a>
          </li>
          <li class="app-sidenav-sub-menu-item">
            <a href="#">
              <i class="far fa-star"></i>
              <span>Add Task </span>
              <b>6</b>
            </a>
          </li>
        </ul>
      </li>
      <li class="app-sidenav-menu-item">
        <a href="#">
          <i class="far fa-star"></i>
          <span>Scenarios</span>
          <b>6</b>
          <i class="fas fa-chevron-down"></i>
        </a>
      </li>
      <li class="app-sidenav-menu-item">
        <a href="#">
          <i class="far fa-star"></i>
          <span>Incident history</span>
        </a>
      </li>
      <li class="app-sidenav-menu-item">
        <a href="#">
          <i class="far fa-star"></i>
          <span>Reports</span>
        </a>
      </li>
      <li class="app-sidenav-menu-item">
        <a href="#">
          <i class="far fa-star"></i>
          <span>Metrics</span>
          <i class="fas fa-chevron-down"></i>
        </a>
      </li>
      <!-- /.app-sidenav-menu-item -->
    </ul>
    <!-- /.app-sidenav-menu -->
  </div>
  <!-- /.app-sidenav-body -->
  <div class="app-sidenav-footer">
    <a class="app-sidenav-footer-setting" href="#" class="dfd">
      <i class="fas fa-sliders-h"></i>
    </a>
    <a class="app-sidenav-footer-user" href="#">
      <img src="assets/images/avatar-sidenav.png" alt="">
      Agnes Meyer
    </a>
    <div class="app-sidenav-footer-signout">
      <a href="#"><i class="fas fa-sign-out-alt"></i></a>
    </div>

  </div>
  <!-- /.app-sidenav-footer -->
</section>
<!-- /.app-sidenav -->
