:host {
  background: $blue;
  color: #fff;
  height: 100vh;
  width: 256px;
  display: flex;
  flex-direction: column;

  &-header {
    padding: 7px 12px;
    border-bottom: 1px solid rgba(255, 255, 255, .25);
  }

  &-body {
    overflow-y: auto;
    flex: 1;
  }

  &-logo {

    &-img {
      width: 34px;
      height: 34px;
      margin-right: 16px;
    }

    &-txt {
      height: 30px;
      margin: 2px 0;
    }
  }

  &-menu {
    list-style: none;
    padding: 0;

    ul {
      padding: 0;
    }

    li {
      list-style: none;
    }

    &-item {
      border-bottom: 1px solid rgba(255, 255, 255, .25);
    }

    a {
      display: flex;
      color: #fff;
      text-decoration: none;
      padding: 10px;
      padding-right: 16px;
      text-transform: uppercase;

      &:hover {
        background: rgba(0, 0, 0, .25);
      }
    }

    span {
      flex: 1;
    }

    b {
      padding-left: 10px;
      opacity: 0.6;
      font-weight: 400;
    }

    i {
      margin-right: 14px;
      font-size: 15px;

      &.fa-chevron-down {
        font-size: 13px;
        margin-left: 18px;
        margin-right: 0;
        align-self: center;
      }
    }
  }

  &-sub-menu {
    margin-top: -3px;
    display: none;

    li {

      a {
        padding: 7px 16px 7px 38px;
        opacity: 0.7;
      }

      i {
        margin-right: 8px;
      }

      &:last-child {

        a {
          padding-bottom: 11px;
        }
      }
    }
  }

  &-footer {
    padding: 10px 16px 10px 10px;
    display: flex;
    align-items: center;

    &-setting {
      display: none;
    }

    &-user {
      color: #fff;
      text-transform: uppercase;

      img {
        width: 32px;
        height: 32px;
        margin-right: 10px;
      }
    }

    &-signout {
      flex: 1;
      text-align: right;

      a {
        color: #fff;
        font-size: 18px;
      }
    }
  }

  &.is-compact {
    overflow: hidden;
    width: 48px;

    .app-sidenav-header {
      text-align: center;
      padding-left: 0;
      padding-right: 0;

      .app-sidenav-logo-img {
        margin: 0 auto;
      }

      .app-sidenav-logo-txt {
        display: none;
      }
    }

    .app-sidenav-menu-item {

      a {
        padding-left: 0;
        padding-right: 0;
        justify-content: center;

        i {
          margin-right: 0;
        }

        span {
          display: none;
        }

        b {
          display: none;
        }

        i.fa-chevron-down {
          display: none;
        }
      }
    }

    .app-sidenav-footer {
      text-align: center;
      padding-left: 0;
      padding-right: 0;
      justify-content: center;
    }

    .app-sidenav-footer-setting {
      display: block;
      color: #fff;
      font-size: 18px;
    }

    .app-sidenav-footer-user {
      display: none;
    }

    .app-sidenav-footer-signout {
      display: none;
    }
  }
}
